@{
    ViewData["Title"] = "SalesWebMVC";
}
<br />
<div class="text-center bg-primary">
    <br /><br />
    <h2 class="display-4 text-white">@ViewData["Title"]</h2>
    <h5 class="text-white">@ViewData["Message"]</h5>
    <br />
</div>
<br /><br /><br />

<div class="text-center">
    <h4>@ViewData["CourseName"]</h4>
    
    <p><strong>Professor @ViewData["Teacher"]</strong></p>

</div>

<br /><br /><br />

<div class="text-center">
    <h3>@ViewData["Student"]</h3>
    <a href="@ViewData["Linkedin"]">Linkedin</a>
    <a href="@ViewData["GitHub"]">Repository</a>
</div>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<address class="text-center">
    <strong>More information: </strong> <a href=@ViewData["CourseURL"]>Udemy.com</a>
</address>