@model SalesWebMVC.Models.Department

@{
    ViewData["Title"] = "Departments";
}

<br />
<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>
<br /><hr /><br /><br />

<div class="text-center">
    <h3>Details</h3>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <div class="col-md-5 border-top">
        <br />
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <th class="col-sm-2 fs-4 text-center">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <td>
                        <input disabled class="form-control text-center" value="@Html.DisplayFor(model => model.Id)" />
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-2 fs-4 text-center">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <td>
                        <input disabled class="form-control text-center" value="@Html.DisplayFor(model => model.Name)" />
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="gap-2 d-md-flex justify-content-md-center">
            <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            <a class="btn btn-outline-secondary btn-sm" asp-action="Index">Return</a>
        </div>
    </div>
</div>