@model IEnumerable<SalesWebMVC.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<br />
<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>
<br /><hr /><br />
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <div class="col-md-8">
        <table class="table table-hover" id="table-employee">
        <thead>
        <tr class="text-bg-primary">
            <th class="fs-4 align-middle">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a class="btn btn-outline-light" asp-action="Create">Create</a>
            </th>
        </tr>
        </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                            <td class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>