@model IEnumerable<SalesWebMVC.Models.Seller>

@{
    ViewData["Title"] = "Sellers";
}

<br />
<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>
<br /><hr /><br />
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    
    <div>
        <table class="table table-hover" id="table-employee">
            <thead>
                <tr>
                    <th class="fs-5">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="fs-5">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th class="fs-5">
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </th>
                    <th class="fs-5">
                        @Html.DisplayNameFor(model => model.BaseSalary)
                    </th>
                    <th class="fs-5">
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <a class="btn btn-primary" asp-action="Create">Create</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BaseSalary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department.Name)
                        </td>
                        <td class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
