@{
    ViewData["Title"] = "Sales Records";
}

<br />
<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>
<br /><hr /><br />
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <form class="row g-3 d-grid gap-2 d-md-flex justify-content-md-center">
        <div class="col-md-4">
            <div class="input-group border border-primary text-center font-monospace">
                <span for="minDate" class="input-group-text fs-5 text-bg-primary"><strong>MIN DATE</strong></span>
                <input type="date" name="minDate" value="@ViewData["minDate"]" class="form-control text-center text-uppercase" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group border border-primary text-center font-monospace">
                <span for="maxDate" class="input-group-text fs-5 text-bg-primary"><strong>MAX DATE</strong></span>
                <input type="date" name="maxDate" value="@ViewData["maxDate"]" class="form-control text-center text-uppercase" required />
            </div>
        </div>
        <p></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <div class="btn-group">
                <input type = "submit" value="Simple Search" formaction="@Url.Action("SimpleSearch")" formmethod="post" class="btn btn-outline text-primary" />
                <input type = "submit" value="Grouping Search" formaction="@Url.Action("GroupingSearch")" formmethod="post" class="btn btn-outline text-primary" />
            </div>
        </div>
    </form>
</div>